<form [formGroup]="inv.pedform">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="id">
                <mat-form-field>
                    <input formControlName="nombre" matInput placeholder="nombre">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="direccion" matInput placeholder="direccion">
                </mat-form-field>  
                <mat-form-field>
                    <input formControlName="telefono" matInput placeholder="telefono">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="cp" matInput placeholder="cp">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="provincia" matInput placeholder="provincia">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="numero" matInput placeholder="numero">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="mensajera" matInput placeholder="mensajera">
                </mat-form-field>
    


            </div>

        </mat-grid-tile>
    </mat-grid-list>





  
</form>